<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Make sure jQuery is included -->
    <script>
        // JavaScript function to remove a product from the cart
        function removeFromCart(productId) {
            $.ajax({
                url: '/remove_from_cart',
                method: 'POST',
                data: {product_id: productId},
                success: function(response) {
                    alert(response); // Display success message
                    location.reload(); // Reload the page after successful removal
                },
                error: function(response) {
                    alert(response); // Display error message
                }
            });
        }

        // Event listener to handle tooltip positioning
        document.addEventListener('DOMContentLoaded', function() {
            var tooltips = document.querySelectorAll('.tooltip');

            tooltips.forEach(function(tooltip) {
                tooltip.addEventListener('mousemove', function(e) {
                    var tooltipText = this.querySelector('.tooltip-text');
                    tooltipText.style.top = (e.clientY + 10) + 'px';
                    tooltipText.style.left = (e.clientX + 10) + 'px';
                });
            });
        });
    </script>
</head>
<body>
{% if session.logged_in %}
    <a class="logout-button" href="{{ url_for('logout') }}">Logout</a>
{% else %}
    <a class="login-button" href="{{ url_for('login') }}">Login</a>
{% endif %}
<div class="header">
    <h1>Shopping Cart</h1>
    <h3 class="username">{{ user_name }}</h3>
</div>
<ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/catalog">Catalog</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    <li><a class="active" href="#Cart">Shopping Cart</a></li>
</ul>
<br><br>
<div class="container">
    {% if session.logged_in %}
        {% if products|length == 0 %}
            <h1>Your Cart is empty</h1>
        {% else %}
            {% for product in products %}
            <div class="image-item">
                <h4 class="product-name">{{ product[1] }}</h4>
                <a href="#" onclick="removeFromCart({{ product[0] }})" class="tooltip">
                    <img src="{{ product[2] }}">
                    <span class="tooltip-text">Click to remove from Cart</span>
                </a>
                <h4 class="product-price">Price: {{ product[5] }}.00$</h4>
            </div>
            {% endfor %}
            <h1 class="total-price">Total Price: {{ total_price }}.00$</h1>
        {% endif %}
    {% else %}
        <h1>You need to Login first</h1>
        <a href="/login"></a>
    {% endif %}
</div>
</body>
</html>
