<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>
{% if session.logged_in %}
    <a class="logout-button" href="{{ url_for('logout') }}">Logout</a>
{% endif %}
    <div class="header">
        <h1>Broben Sneakers Shop</h1>
        <h3 class="username">{{ user_name }}</h3>
    </div>
<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="/catalog">Catalog</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="/login">Log-in</a></li>
</ul>
<br><br>

</body>

</html>