<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>
    <h1 style="text-align: center;">THE SNEACKER BRAND</h1>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">Catalog</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="/login">Log-in</a></li>
    </ul>
    <br><br>
    <table>
        <tr>
            <td>
                <img src="/Server/static/airforce.jpeg">
            </td>
            <td>
                <img src="/Server/static/airjordan_1.jpeg">
            </td>
            <td>
                <img src="/Server/static/red_nike.jpeg">
            </td>
        </tr>
        <tr>
            <td>
                <img src="/Server/static/high_converse.jpeg">
            </td>
            <td>
                <img src="/Server/static/green_gazelle.jpeg">
            </td>
            <td>
                <img src="/Server/static/reebok_1.jpeg">
            </td>
        </tr>
        <tr>
            <td>
                <img src="/Server/static/pink_nike.jpeg">
            </td>
            <td>
                <img src="/Server/static/puma_1.jpeg">
            </td>
            <td>
                <img src="/Server/static/new_balance.jpeg">
            </td>
        </tr>
    </table>
</body>

</html>